@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FDF6F0;
}

::-webkit-scrollbar-thumb {
  background: #E8431A;
  border-radius: 999px;
}